In [5]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score

# Load dataset
iris = load_iris()
X = iris.data
y = iris.target

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8, random_state=42)

# Initialize the KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

# Fit the model
knn.fit(X_train, y_train)

# Make predictions
y_pred = knn.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.975
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        43
           1       0.97      0.95      0.96        39
           2       0.95      0.97      0.96        38

    accuracy                           0.97       120
   macro avg       0.97      0.97      0.97       120
weighted avg       0.98      0.97      0.98       120

In [62]:
import pandas as pd

In [60]:
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score
import numpy as np

# Load the wine dataset

wine = load_wine()
X = wine.data
y = wine.target

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


#k = round(np.log(len(X_train)))

k = round(np.log10(len(X_train)))
# Initialize the KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=2, weights = 'distance', p = 1)

# Fit the model on the training data
knn.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = knn.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
#print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8333333333333334

In [63]:
df = pd.read_csv(r'C:\Users\ss6365\Desktop\location_privacy_final\collected\machine_learning\attack1\laplace\200\merged_laplace_0.1_encoded_200.csv')
df

,longitude,latitude,identifier,perturbed_latitude,perturbed_longitude,lat_bin,lon_bin,location_id
0,-77.680333,43.083838,1.0,43.083840,-77.680344,97,66,19467
1,-77.680991,43.083803,1.0,43.083827,-77.681023,97,62,19463
2,-77.681017,43.083802,1.0,43.083831,-77.680987,97,62,19463
3,-77.681042,43.083802,1.0,43.083767,-77.681051,97,62,19463
4,-77.681090,43.083802,1.0,43.083803,-77.681167,97,62,19463
...,...,...,...,...,...,...,...,...
55420,-77.680445,43.083879,46.0,43.083866,-77.680440,98,65,19666
55421,-77.680442,43.083868,46.0,43.083876,-77.680448,98,65,19666
55422,-77.680441,43.083863,46.0,43.083831,-77.680385,98,65,19666
55423,-77.680442,43.083860,46.0,43.083824,-77.680429,98,65,19666
55424,-77.680442,43.083850,46.0,43.083863,-77.680430,98,65,19666

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler

# Selecting features and target
features = df[['perturbed_latitude', 'perturbed_longitude']]
target = df['location_id']

# Scaling features
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_scaled, target, test_size=0.3, random_state=42)

# Initialize the KNeighborsClassifier with 5 as a starting point for k
knn = KNeighborsClassifier(n_neighbors=5)

# Fit the model on the training data
knn.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = knn.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
#class_report = classification_report(y_test, y_pred)

accuracy

0.7714698099591051

In [66]:
features

       perturbed_latitude  perturbed_longitude
0               43.083840           -77.680344
1               43.083827           -77.681023
2               43.083831           -77.680987
3               43.083767           -77.681051
4               43.083803           -77.681167
...                   ...                  ...
55420           43.083866           -77.680440
55421           43.083876           -77.680448
55422           43.083831           -77.680385
55423           43.083824           -77.680429
55424           43.083863           -77.680430

[55425 rows x 2 columns]

In [67]:
features_scaled

array([[-0.41673151, -0.47357997],
       [-0.42022662, -0.62304654],
       [-0.41924175, -0.61512322],
       ...,
       [-0.41920566, -0.48254637],
       [-0.42100867, -0.49222278],
       [-0.41010785, -0.49244694]])

In [72]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Load the data
data = pd.read_csv(r'C:\Users\ss6365\Desktop\location_privacy_final\collected\machine_learning\attack1\laplace\200\merged_laplace_0.1_encoded_200.csv')

# Prepare features and labels
features = data[['perturbed_latitude', 'perturbed_longitude']]
labels = data['location_id']

# Scale the features
scaler = StandardScaler()
# features_scaled = scaler.fit_transform(features)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test, identifiers_train, identifiers_test = train_test_split(
    features, labels, data['identifier'], test_size=0.3, random_state=42
)

# # Train the k-NN classifier
# knn = KNeighborsClassifier(n_neighbors=5)
# knn.fit(X_train, y_train)

# # Create a DataFrame for easier manipulation
# test_df = pd.DataFrame(X_test, columns=['perturbed_latitude', 'perturbed_longitude'])
# test_df['identifier'] = identifiers_test.values
# test_df['true_label'] = y_test.values

# # Group by identifier and evaluate trace accuracy
# trace_accuracies = []
# for identifier, group in test_df.groupby('identifier'):
#     # Predict the group
#     y_pred = knn.predict(group[['perturbed_latitude', 'perturbed_longitude']])
#     # Calculate accuracy
#     accuracy = np.mean(y_pred == group['true_label'])
#     trace_accuracies.append(accuracy)

# # Calculate the overall trace-based accuracy
# overall_trace_accuracy = np.mean(trace_accuracies)
# print(f"Overall Trace-Based Accuracy: {overall_trace_accuracy}")

In [76]:
identifiers_train

32739    31.0
49446    39.0
43940    36.0
37935    34.0
32731    31.0
         ...
44732    37.0
54343    46.0
38158    34.0
860       3.0
15795    19.0
Name: identifier, Length: 38797, dtype: float64

In [77]:
X_train

       perturbed_latitude  perturbed_longitude
32739           43.084236           -77.677216
49446           43.083765           -77.679845
43940           43.084911           -77.679555
37935           43.084305           -77.674853
32731           43.084194           -77.677228
...                   ...                  ...
44732           43.083927           -77.678503
54343           43.085122           -77.678506
38158           43.084316           -77.673621
860             43.093878           -77.678493
15795           43.085228           -77.679056

[38797 rows x 2 columns]