In [22]:
import pandas as pd

In [42]:
df = pd.read_csv(r'C:\Users\ss6365\Desktop\location_privacy_final\tdrive\data\\merged_all_security_subset_3km.csv')
df

       longitude  latitude  identifier
0      116.39714  39.94757           1
1      116.40070  39.90440           2
2      116.40255  39.91160           2
3      116.40261  39.91164           2
4      116.40044  39.90342           2
...          ...       ...         ...
70757  116.42419  39.93530        6947
70758  116.43078  39.93959        6947
70759  116.43711  39.93974        6947
70760  116.41907  39.94891        6947
70761  116.41847  39.94832        6947

[70762 rows x 3 columns]

In [43]:
import numpy as np

def haversine(lat1, lon1, lat2, lon2):
    # Convert degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371  # Radius of Earth in kilometers
    return c * r

def calculate_trajectory_details(df):
    results = []
    
    # Group by identifier and calculate distances between consecutive points
    for identifier, group in df.groupby('identifier'):
        total_length = 0.0
        distances = []
        # Calculate distance between each pair of consecutive points using haversine
        for i in range(1, len(group)):
            lat1, lon1 = group.iloc[i-1]['latitude'], group.iloc[i-1]['longitude']
            lat2, lon2 = group.iloc[i]['latitude'], group.iloc[i]['longitude']
            dist = haversine(lat1, lon1, lat2, lon2)
            distances.append(dist)
            total_length += dist
        
        # Calculate average distance if there are any distances computed
        average_distance = np.mean(distances) if distances else 0
        results.append({
            'identifier': identifier,
            'trajectory_length_km': total_length,
            'average_distance_km': average_distance
        })
    
    return pd.DataFrame(results)

# Calculate trajectory lengths and average distances
trajectory_details_df = calculate_trajectory_details(df)

In [44]:
trajectory_details_df

      identifier  trajectory_length_km  average_distance_km
0              1              0.000000             0.000000
1              2              8.368339             1.673668
2              5              0.000000             0.000000
3              8              0.000000             0.000000
4              9            114.749372             1.247276
...          ...                   ...                  ...
2650        6930             20.988370             1.908034
2651        6937              5.087386             5.087386
2652        6940              8.418561             0.841856
2653        6944             26.058182             1.240866
2654        6947              5.719140             0.635460

[2655 rows x 3 columns]

In [45]:
trajectory_details_df['trajectory_length_km'].sum()

48660.303396177274

In [46]:
trajectory_details_df['average_distance_km'].mean()*1000

1011.4373149170941

In [47]:
len(df)

70762